自研資料/project/n8n_trade_web/n8n_workflow.json
{
  "name": "HTML Content Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -260,
        300
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.body.year }}-{{ $json.body.month }}-{{ $json.body.mainTitle }}.html",
        "binaryData": true,
        "options": {}
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "filePath": "/Users/n2120008891/Documents/project/n8n_trade_web/template.html",
        "options": {}
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -60,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const template = $items[0].json.data;\nconst body = $items[1].json.body;\n\nlet replacedHtml = template;\n\nfor (const key in body) {\n  if (Object.hasOwnProperty.call(body, key)) {\n    const placeholder = `{{${key}}}`;\n    const value = body[key];\n    replacedHtml = replacedHtml.replace(new RegExp(placeholder, 'g'), value);\n  }\n}\n\nreturn { html: replacedHtml };"
      },
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ $node[\"Read Binary File\"].data.binary.data }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $fs.readFile('/Users/n2120008891/Documents/project/n8n_trade_web/system_prompt_generate_page.md') }}\n\n{{ $json.html }}"
      },
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
